@*@model IEnumerable<MvcMovie57.Models.Movie57>*@
@model MvcMovie57.Models.MovieGenreViewModel57
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Movie57" asp-action="Index" method="get">
    <p>
        <select asp-for="MovieGenre57" asp-items="Model.Genres57">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString57">
        <input type="submit" value="Filter" />
    </p>
</form>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title57)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate57)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre57)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price57)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title57)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate57)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre57)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price57)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies57[0].Title57)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies57[0].ReleaseDate57)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies57[0].Genre57)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies57[0].Price57)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies57[0].Rating57)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies57)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title57)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate57)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre57)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price57)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating57)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
